  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
  }
  .menu li {
    float: left;
  }
  .menu li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .menu li a:hover {
    background-color: #ddd;
  }
  .active {
    background-color: #4CAF50;
  }
