<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ola</title>
</head>

<h1>Gendalf</h1>

<body>

        ГЭНДАЛЬФ успешно развивается на IT-рынке с 1993 года. Сейчас бренд представлен в 15 городах. Мы занимаем 4 место в РФ в рейтинге среди 7 000 партнеров «1С». А также являемся лидером в ЮФО по автоматизации на базе «1С» и по продажам «1С-Битрикс».
        
        В нашем каталоге более 500 решений от лидеров IT-индустрии и более 200 услуг для руководителей компаний и сотрудников бухгалтерии.


    <a href="/">Назад</a>
</body>
</html>