<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>О нас</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
    }

    .content {
        width: 80%;
        margin: auto;
        line-height: 1.5;
    }

    a {
        text-decoration: none;
        color: #4CAF50;
        font-weight: bold;
        margin-top: 50px;
    }
</style>
</head>

<body>

<h1>Gendalf</h1>

<div class="content">
        ГЭНДАЛЬФ успешно развивается на IT-рынке с 1993 года. Сейчас бренд представлен в 15 городах. Мы занимаем 4 место в РФ в рейтинге среди 7 000 партнеров «1С». А также являемся лидером в ЮФО по автоматизации на базе «1С» и по продажам «1С-Битрикс».
        
        В нашем каталоге более 500 решений от лидеров IT-индустрии и более 200 услуг для руководителей компаний и сотрудников бухгалтерии.
</div>

<a href="/">Назад</a>

</body>
</html>