<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
</head>
<body>
    <h1>Номер телефона: +7 (863) 300-10-00</h1>
    <h1>Адрес: 344011, Россия, г. Ростов-на-Дону, пер. Халтуринский, 99</h1>
    <h1>Почта: gendalf@gendalf.ru</h1>

<h1>Оставьте заявку</h1>
    <form action="/statement" method="post">
        <input name="your_name" type="text" placeholder="Имя">
        <input name="your_number" type="number" placeholder="Номер">
        <input name="your_mail" type="text" placeholder="Почта">
        <input type="submit" value="Отправить">
    </form>


    <a href="/">Назад</a>
</body>
</html>