<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Меню</title>

</head>
<body>
<header>
     <link rel="'stylesheet" href="{{ url_for('static', filename='custom.css')}}">

     <ul class="menu">
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
      </ul>

</header>
 
 <h1>Поделитесь новостью</h1>

    <form action="/create" method="post">
        <input name="file_name" type="text" placeholder="Название">
        <input name="file_context" type="text" placeholder="Контекст">
        <input name="file_date" type="text" placeholder="Дата">
        <input type="submit" value="Отправить">
    </form>

</body>
</html>